{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="single-overview-wrapper">

  <div class="single-overview-intro">
    <div class="single-overview-title-image">
      <img src="https://psycore.one/images/{{ .Params.psycoreImage }}" width="100px" />
    </div>
    <div class="single-overview-introduction">
      This overview only contains the {{ .Params.instructiontype }}. You can click a Unique Construct Identifier (UCID) to view the definition and all instructions for a construct, or check the full overview at <a href="https://psycore.one/overview">psycore.one/overview</a> for a table with the construct definitions and all instructions.
    </div>
  </div>

  <table id="single-overview-table">
    <thead>
      <tr>
        <th>Construct label and identifier</th>
        <th>{{ .Params.instructiontypeCapitalized }}</th>
      </tr>
    </thead>
    <tbody>
    {{ range $.Site.Data.dctspecs }}
     <tr>
      <td>{{ .dct.label }} (<a href="https://psycore.one/construct/?ucid={{ .dct.id }}">{{ .dct.id }}</a>)</td>
      <td>
        <script>
          if ('{{ if eq $.Params.dctField "measure_dev" }}{{ .dct.measure_dev.instruction }}{{ else if eq $.Params.dctField "measure_code" }}{{ .dct.measure_code.instruction }}{{ else if eq $.Params.dctField "aspect_dev" }}{{ .dct.aspect_dev.instruction }}{{ else if eq $.Params.dctField "aspect_code" }}{{ .dct.aspect_code.instruction }}{{ else if eq $.Params.dctField "definition" }}{{ .dct.definition.definition }}{{ end }}'.length > 0) {
            document.write('{{ if eq $.Params.dctField "measure_dev" }}{{ .dct.measure_dev.instruction | markdownify }}{{ else if eq $.Params.dctField "measure_code" }}{{ .dct.measure_code.instruction | markdownify }}{{ else if eq $.Params.dctField "aspect_dev" }}{{ .dct.aspect_dev.instruction | markdownify }}{{ else if eq $.Params.dctField "aspect_code" }}{{ .dct.aspect_code.instruction | markdownify }}{{ else if eq $.Params.dctField "definition" }}{{ .dct.definition.definition | markdownify }}{{ end }}');
          } else {
            document.write('Not specified.');
          }
        </script>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<script defer src="/js/single-overview.js">
</script>

{{- end -}}
